body, html {
    margin: 0 auto;
}

#bcg-img {
  /* The image used */
  background-image: url("images/maxresdefault.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-image: url("images/korean-flag.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}
.mb-4 {
  background-color: rgba(241, 245, 247, 0.86); color: black;
  font-weight: 500;
}
.card-header {
  background-color: rgba(83, 184, 224, 0.678); color: black;
  font-weight: 500;
}

#datetime {
  float: right;
  margin-bottom: 0;
  padding: 0 .5rem;
  width: 20%;
}

#hyperlink {
  float: right;
  margin-bottom: 0;
  padding: 0 .5rem;
}

#train-table th, td {
  display: inline-block;
  width: 20%;
}

